{% extends 'base.html' %}
{% block title %}Nomama{% endblock %}


{% block content %}
<div class="jumbotron jumbotron-fluid text-center indexpage">
    <div class="container">
        <h1 class="display-4">Welcome</h1>
        <h1 class="display-4">Penguin berry LONELY</h1>
        {% if session['logged_in'] %}
        <a>BELLOO</a>
        {% else %}
        <p class="lead">Please start by logging in</p>
        <a href="/login" class="btn btn-outline-warning btn-lg active" role="button" aria-pressed="true">login</a>
        {% endif %}
        <br><br><br>
        <hr>
        <p>Commit hash: {{ commit_sha }}</p>
    </div>
</div>
{% endblock %}